body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  display: block;
  background-color: #1189de;
}

header{
  min-height: 55px;
  overflow: hidden;
  width: 100%;

}

.logo-img{
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}

.topnav {
  background-color: #fff;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  text-decoration: none;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

.topnav ul{
  padding-top: 5px;

}

.topnav li{
  list-style-type: none;
  float: right;
} 

.topnav li:hover{
  background-color: transparent;
}

.topnav a:hover {
  color: #1189de;
  background-color: transparent;
}

.loginForm {
  box-sizing: border-box;
  width: 30%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.loginFormWrapper{
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 400px;
  height: 310px;
  box-shadow: 1px 1px 5px #333;
  border-radius: 2px;
}

.wrap{
  padding-top: 50px;
}
.inputField {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.input {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 26px;
  padding-left: 4.500em;
  padding-right: 4.500em;
  text-align: center;
  
}

.btn {
  width: 100%;
  min-width: 160px;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  border: solid 2px #1189de;
  border-radius: 50px;
  background-color: #77c524;
  cursor: pointer;
  color: #fff;
}

.link {
  color: #fff;
  text-decoration: none;
}

.box{
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.bottom-btn {
	height: 30px;
}

.vid {
  float: left;
  width: 400px;
  text-align: end;
  padding-left: 40px;
  margin-top: 30px;
  height: 225px;

}

.btn-logout {
  background: transparent;
  color: #fff;
  border:2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px;
  cursor:pointer;
  width: 80px;
}

.buttons-filter{
  margin: 5px;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  background: yellow;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: center;
}

.buttons-filter button {
 	width: 12%;
    margin-right: 50px;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 10px;
 }
